* {
    color: #fff;
}

.text-roman {
    font-family: 'Times New Roman', Times, serif;
}

#start {
    background: #ADD8E6;
}

#start a {
    width: 400px;
    background: #4682B4;
    border: none;
}

#start a:hover {
    background: #5F9EA0;
}

#start h2 {
    margin: 60px 0;
}

#start h1, #start h4, #start a {
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
    #start h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 750px) {
    #start h1 {
        font-size: 25px;
    }

    #start h4 {
        font-size: 22px;
    }

    #start a {
        width: 300px;
        font-size: 15px;
        padding: 15px 0 !important;
    }
}